.divCartao
    position: relative
    width: 100%
    margin: 1rem auto
    padding: 0
    display: flex
    flex-wrap: wrap

    .cartao
        width: 30%
        margin: .3rem .2rem
        padding: 0
        border: 1px solid rgba(darkslategray, 1)

        img 
            width: 100%
            hright: auto
        
        .cartao-body
            width: 100%
            padding: .4rem
            line-height: .5rem

            .cartao-title
                font-size: 1.8em
                color: rgba(darkslategray, 1)

            .cartao-text
                color: rgba(darkslategray, .8)


            