

<div id="wrapper">
  <!-- <div class="divCartao"> -->
    <div class="cartao" *ngFor="let player of players">
      <img [src]="player.photo"  alt="player.name">
      <div class="cartao-body">
          <h5 class="cartao-title">{{ player.name }}</h5>
          <p class="cartao-text">{{ player.possition }}</p>
          <p class="cartao-text">{{ player.country }}</p>
          <!-- <div>
            <a [routerLink]="['/players', player.id ]" class="btn btn-primary">Rate the Player</a>
          </div> -->
      </div>
      <div>
        <a [routerLink]="['/players', player.id ]" class="btn btn-primary">Rate the Player</a>
      </div>
    </div>
  <!-- </div>  -->
</div>