<div class="container">
  <div class="row">
    <h4>Comments .</h4>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">By : Nome do criado </div>
        <div class="card-body">
          <div class="card-text">Comments</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h4>Let here your Comment . </h4>
    <div class="col-md-12">
      <form >
        <div class="form-group">
          <label for="nameInput">Name : </label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="textInput">Comments : </label>
          <textarea class="form-control" row="4"></textarea>
        </div>

        <div class="row">
          <button class="btn btn-success">Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>